
.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 100%;
}
.producto {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    flex: 1 1 calc(33.33% - 40px); /* Ajusta el ancho según la cantidad de productos por fila */
    max-width: 300px;
    border-radius: 5px;
    box-sizing: border-box;
}
.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.producto h2 {
    font-size: 1.5em;
    margin-top: 0;
}
.producto p {
    margin-bottom: 10px;
}
.producto button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.producto button:hover {
    background-color: #007bff;
}